<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
"FIRST ANGULAR"
</body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>


<script src="angular.min.js"></script>
<div ng-app>
    <div>
        Hello {{ "World !!!" }}
    </div>
</div>