body {
    background-image: url(3.jpg);
}

#restaurant {
    transform: scale(0.5);
    transition: 1s all;
    background-color: grey;
    color: #FFFFFF;
    padding: 15px;
    margin: auto;
    border: 2px solid yellow;
    border-radius: 15px;
    opacity: 0.5;
    box-shadow: 15px 15px 7px #000000;
    width: 50%;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}

#restaurant:hover {
    transform: scale(0.7);
    opacity: 0.9;
}

#menu {
    padding: 5px;
    margin-left: 60px;
    opacity: 0.8;
    width: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}


#real_menu {
    margin-left: 15px;
    color: yellow;
}

#real_order {
    color: yellow;
}

#order {
    padding: 5px;
    margin-left: 60px;
    opacity: 0.8;
    width: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;

}

#login {
    padding: 5px;
    margin-left: 60px;
    opacity: 0.8;
    width: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

#user{
    padding: 5px;
    margin-left: 65px;
    margin-top: 15px;
    opacity: 0.8;
    width: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

.btn_main_page {
    margin-left: 50%;
    margin-top: 60px;
    color: black;
    font-size: 25px;
    background-color: dimgray;
    border-radius: 15px;
    border: 2px solid yellow;
    opacity: 0.8;
}

#admin {
    padding: 5px;
    margin-left: 55px;
    margin-top: 600px;
    opacity: 0.8;
    width: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}
#make_order{
    padding: 5px;
    margin-left: 55px;
    margin-top: 50px;
    opacity: 0.8;
    width: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

.btn_in_menu{
    color: black;
    font-size: 25px;
    background-color: dimgray;
    border-radius: 10px;
    border: 2px solid yellow;
    opacity: 0.8;
}
.btn_in_menu:hover{
    transform: scale(0.85);
    opacity: 0.8;
}
.btn_main_page:hover{
    transform: scale(0.85);
    opacity: 0.8;
}

.form-check-label{
    color: yellow;
}