<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello Page</title>
    <meta charset="utf-8"/>
</head>
<body>
<div th:text="#{greeting}"></div>
</body>
</html>